body {
    background-image: url("pic2.jpg");
}
.navbar-brand {
    font-size: 30px;
    font-weight: 900;
}
footer {
    background-color: lightgray;
    text-align: center;
}
.letter {
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:991px) and (min-width:768px) {
    .welcome {
        font-size: 24px;
    }
    .hello {
        font-size: 24px;
    }
}
@media (max-width:767px) {
    .welcome {
        font-size: 18px;
    }
    .hello {
        font-size: 18px;
    }
}